<div class="mt-4" *ngIf="order">

    <div class="table-responsive px-5">
        <table class="table">
            <thead class="bg-light text-uppercase text-center">
                <tr>
                    <th class="border-0">
                        <div class="align-middle p-2">Buyer Email</div>
                    </th>
                    <th class="border-0">
                        <div class="align-middle p-2">Order Date</div>
                    </th>
                    <th class="border-0">
                        <div class="align-middle p-2">Shipping Address</div>
                    </th>
                    <th class="border-0">
                        <div class="align-middle p-2">Recipient</div>
                    </th>
                    <th class="border-0">
                        <div class="align-middle p-2">Order Subtotal</div>
                    </th>
                    <th class="border-0">
                        <div class="align-middle p-2">Delivery Time / Delivery Cost</div>
                    </th>
                    <th class="border-0">
                        <div class="align-middle p-2">Status</div>
                    </th>
                </tr>
            </thead>
            <tbody class="text-center">
                <tr>
                    <td class="align-middle p-2 py-3">{{order.buyerEmail}}</td>
                    <td class="align-middle p-2 py-3">{{order.orderDateFormatted}}</td>
                    <td class="align-middle p-2 py-3">
                        <div>
                            {{order.shipToAddress.zipcode}},
                            {{order.shipToAddress.state}},
                            {{order.shipToAddress.city}},
                            {{order.shipToAddress.street}}
                        </div>
                    </td>
                    <td class="align-middle p-2 py-3">{{order.shipToAddress.firstName}}
                        {{order.shipToAddress.lastName}}</td>
                    <td class="align-middle p-2 py-3">{{order.subtotal | currency}}</td>
                    <td class="align-middle p-2 py-3">{{order.deliveryTime}} / {{order.shippingPrice | currency}}
                    </td>
                    <td class="align-middle p-2 py-3">{{order.status}}</td>
                </tr>
            </tbody>
        </table>
    </div>

    <div class="container">
        <div class="table-responsive mt-3">
            <table class="table">
                <thead class="bg-light text-uppercase">
                    <tr>
                        <th>
                            <div class="align-middle p-2 text-left">Order Products</div>
                        </th>
                        <th>
                            <div class="align-middle p-2 text-center">Price</div>
                        </th>
                        <th>
                            <div class="align-middle p-2 text-center">Quantity</div>
                        </th>
                        <th>
                            <div class="align-middle p-2 text-center">Total</div>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of order.orderItems">
                        <th scope="row">
                            <div class="p-2">
                                <img src="{{item.pictureUrl}}" alt="{{item.productName}}" class="img-fluid"
                                    style="max-height: 50px;">
                                <div class="ml-3 d-inline-block align-middle">
                                    <h5 class="mb-0">
                                        <a routerLink="/shop/{{item.productId}}"
                                            class="text-dark">{{item.productName}}</a>
                                    </h5>
                                </div>
                            </div>
                        </th>
                        <td class="align-middle text-center">{{item.price | currency}}</td>
                        <td class="align-middle text-center">{{item.quantity}}</td>
                        <td class="align-middle text-center">{{item.price * item.quantity | currency}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

</div>
